.navbar-container {
  display: flex;
  justify-content: space-between; /* 로고와 로그인 버튼을 양쪽 끝에 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 10px 20px; /* 여백 추가 */
  background-color: #918e8e; /* 네비게이션 바의 배경색 */
}

.nav-logo-menu {
  display: flex;
  align-items: center; /* 로고와 메뉴 리스트를 수직 중앙 정렬 */
}

.menuList {
  display: flex;
  list-style: none; /* 불릿 제거 */
  gap: 15px; /* 메뉴 항목 간의 간격 */
  margin: 0;
  padding: 0;
}

.menuList li {
  color: #fff; /* 메뉴 항목의 텍스트 색상 */
  cursor: pointer; /* 클릭 가능한 스타일 */
  padding: 10px; /* 메뉴 항목의 여백 */
}

.together {
  display: flex;
  align-items: center;
  gap: 10px; /* 아이콘과 텍스트 사이의 간격 */
}

.search-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.search-container input {
  border: none;
  background: transparent;
  color: #fff;
  padding-left: 5px;
}

.d-lg-none {
  display: none;
}

@media (max-width: 992px) {
  .d-lg-none {
    display: block;
  }
}

.login-button {
  display: flex;
  align-items: center; /* 아이콘과 텍스트를 동일선상에 배치 */
  gap: 8px; /* 아이콘과 텍스트 사이의 간격 */
  cursor: pointer; /* 커서를 손가락 모양으로 변경 */
}
